<html>

<head>
    <title>Store</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="/assets/stor-e.js"></script>
    <link rel="stylesheet" href="/assets/style.css">


</head>

<body>
    <div id="master">
        <header>

            <div id="logo"> <img src="/assets/storelogo.png"> </div>
            <div id="tag-line"><img src="/assets/storel.png"></div>
        </header>

        <nav>

            <ul>
                <li><a href="/store" method="GET">Home</a></li>
                <li id="cart"><a href="/store/cart" method="GET">cart</a></li>
                <li><a href="/store/contact" method="GET">Contact</a></li>

            </ul>

        </nav>

        
        <h1>E-mail :: project@gmail.com</h1>
        <h1>Address :: 323 west wood LA</h1>
        <h1>Call us at :: 10801114</h1>
    </div>
    </div>
</body>

</html>